In [99]:
import pandas as pd
import numpy as np

In [100]:
db2_df = pd.read_csv("datasets/db2_KPI (week).csv")

In [101]:
db2_df.describe(include='all') #149054 entries, 36 columns
#maybe we should delete empty and unhelpful data.

,TIMESTAMP,PERIOD_NAME,MVS_SYSTEM_ID,DB2_SYSTEM_ID,TOT_FIX_STG_31,TOT_GETM_STG_31,TOT_GETM_STACK,TOT_VAR_STG_31,TOT_STACK_INUSE,MVS_LOW_PRIV_31,...,REAL_SHR_STG_64,AUX_SHR_STG_64,REAL_SHRSTK_STG_64,AUX_SHRSTK_STG_64,REAL_COM_STG_64,AUX_COM_STG_64,TIMEZONE,SYSTEM,SYSPLEX,SOURCE_NAME
count,149054,149054,149054,149054,1.490540e+05,1.490540e+05,1.490540e+05,1.490540e+05,1.490540e+05,1.490540e+05,...,1.490540e+05,149054.0,149054.000000,149054.0,149054.000000,149054.0,149054,149054,149054,0.0
unique,141759,3,4,8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN
top,2019-06-09 05:18:00.08,WEEKEND,4CHA,IC1A,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,,,NaN
freq,4,91454,37273,18656,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,149054,149054,149054,NaN
mean,NaN,NaN,NaN,NaN,1.037622e+06,1.619683e+07,1.034450e+08,6.985796e+07,5.964597e+07,1.472100e+08,...,2.110304e+06,0.0,278500.917567,0.0,53629.054074,0.0,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,2.570471e+05,3.658551e+06,2.850733e+07,2.272698e+07,1.202212e+07,8.138149e+06,...,6.989441e+05,0.0,117234.548216,0.0,10444.029600,0.0,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,8.601600e+04,6.172000e+04,3.653632e+06,5.611520e+05,3.588096e+06,8.708096e+07,...,9.700000e+02,0.0,5209.000000,0.0,665.000000,0.0,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,8.970240e+05,1.301761e+07,8.748646e+07,5.539430e+07,5.301862e+07,1.452196e+08,...,1.653190e+06,0.0,186762.000000,0.0,53306.000000,0.0,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,1.015808e+06,1.720249e+07,9.585050e+07,6.590054e+07,5.839667e+07,1.486684e+08,...,2.142265e+06,0.0,265931.000000,0.0,56743.000000,0.0,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,1.134592e+06,1.920128e+07,1.287291e+08,8.348467e+07,7.181926e+07,1.516913e+08,...,2.728505e+06,0.0,381139.000000,0.0,57964.000000,0.0,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,1.503232e+06,2.328412e+07,1.575363e+08,1.290772e+08,1.053983e+08,1.620173e+08,...,3.495979e+06,0.0,513770.000000,0.0,59930.000000,0.0,NaN,NaN,NaN,NaN

In [102]:
db2_df.columns

Index(['TIMESTAMP', 'PERIOD_NAME', 'MVS_SYSTEM_ID', 'DB2_SYSTEM_ID',
       'TOT_FIX_STG_31', 'TOT_GETM_STG_31', 'TOT_GETM_STACK', 'TOT_VAR_STG_31',
       'TOT_STACK_INUSE', 'MVS_LOW_PRIV_31', 'MVS_HIGH_PRIV_31',
       'TOT_FIX_STG_64', 'TOT_GETM_STG_64', 'TOT_VAR_STG_64', 'REAL_PRIV_STG',
       'AUX_PRIV_STG', 'REAL_PRIV_STG_64', 'AUX_PRIV_STG_64',
       'REAL_PRIV_NOBP_64', 'AUX_PRIV_NOBP_64', 'REAL_PRIV_DIST_STG',
       'AUX_PRIV_DIST_STG', 'MVS_EXT_CSA_SIZE', 'TOT_COM_GETM_31',
       'TOT_COM_FIXED_31', 'TOT_COM_VAR_31', 'REAL_SHR_STG_64',
       'AUX_SHR_STG_64', 'REAL_SHRSTK_STG_64', 'AUX_SHRSTK_STG_64',
       'REAL_COM_STG_64', 'AUX_COM_STG_64', 'TIMEZONE', 'SYSTEM', 'SYSPLEX',
       'SOURCE_NAME'],
      dtype='object')

In [103]:
#columns to delete
#AUX_PRIV_STG, AUX_PRIV_STG_64, AUX_PRIV_NOBP_64, AUX_PRIV_DIST_STG, AUX_PRIV_STG, AUX_PRIV_STG_64, 
#AUX_SHR_STG_64, AUX_SHRSTK_STG_64, AUX_COM_STG_64, TIMEZONE, SYSPLEX, SYSTEM
db2_df=db2_df.drop(columns=['AUX_PRIV_STG', 'AUX_PRIV_STG_64','AUX_PRIV_NOBP_64','AUX_PRIV_DIST_STG','AUX_PRIV_STG',"AUX_PRIV_STG_64","AUX_SHR_STG_64", "AUX_SHRSTK_STG_64", "AUX_COM_STG_64", "TIMEZONE", "SYSPLEX", "SYSTEM"])

In [98]:
db2_df.columns

Index(['TIMESTAMP', 'PERIOD_NAME', 'MVS_SYSTEM_ID', 'DB2_SYSTEM_ID',
       'TOT_FIX_STG_31', 'TOT_GETM_STG_31', 'TOT_GETM_STACK', 'TOT_VAR_STG_31',
       'TOT_STACK_INUSE', 'MVS_LOW_PRIV_31', 'MVS_HIGH_PRIV_31',
       'TOT_FIX_STG_64', 'TOT_GETM_STG_64', 'TOT_VAR_STG_64', 'REAL_PRIV_STG',
       'REAL_PRIV_STG_64', 'REAL_PRIV_NOBP_64', 'REAL_PRIV_DIST_STG',
       'MVS_EXT_CSA_SIZE', 'TOT_COM_GETM_31', 'TOT_COM_FIXED_31',
       'TOT_COM_VAR_31', 'REAL_SHR_STG_64', 'REAL_SHRSTK_STG_64',
       'REAL_COM_STG_64', 'SOURCE_NAME'],
      dtype='object')

In [ ]:
#columns with categorical variables
#MVS_EXT_CSA_SIZE, MVS_SYSTEM_ID, DB2_SYSTEM_ID, PERIOD_NAME

#time series data

In [106]:
db2_df.PERIOD_NAME.value_counts()

WEEKEND     91454
NIGHT       36000
PRIME       21600
Name: PERIOD_NAME, dtype: int64

In [107]:
#4LPARs
db2_df.MVS_SYSTEM_ID.value_counts()

4CHA    37273
4EHA    37261
4FHA    37260
4DHA    37260
Name: MVS_SYSTEM_ID, dtype: int64

In [104]:
#8Db2s (2 Db2 per LPAR)
db2_df.DB2_SYSTEM_ID.value_counts()

IC1A    18656
IC8A    18639
IC7A    18632
IC2A    18631
IC5A    18629
IC4A    18629
IC6A    18621
IC3A    18617
Name: DB2_SYSTEM_ID, dtype: int64

In [ ]:
#maybe the first step would be to split the data 
#by weekend, night and primetime in PERIOD COLUMN